<div class="splitview skewed">
    <div class="panel bottom relative">
        <div class="content">
            <div class="description description-1">
                <h1>The original image.</h1>
                <p>This is how the image looks like before applying a duotone effect.</p>
            </div>

            <img src="assets/images/belgrade/bg_nekada_1.png" alt="Original">
        </div>
    </div>

    <div class="panel top">
        <div class="content ">
            <div class="description description-2">
                <h1>The duotone image.</h1>
                <p>This is how the image looks like after applying a duotone effect.</p>
            </div>

            <img src="assets/images/belgrade/bg_sada_1.png" alt="Duotone">
        </div>
    </div>

    <div class="handle"></div>
</div>