.location__single{
    background-color: white;
}
.contact-block{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}
.contact-block i {
    font-size: 30px;
    margin-bottom: 12px;
    color: var(--jaka-roza) !important;
}
.mr-10{
    margin-right: 10px;
}
@media (max-width: 992px) {
    .m-12{
        margin-bottom: 12px !important;
    }
}
